script(type='text/javascript', src='/lib/jquery/jquery.min.js')

// Isotope
script(type='text/javascript', src='/lib/isotope/jquery.isotope.min.js')

// Angular
script(type='text/javascript', src='/lib/angular/angular.js')
script(type='text/javascript', src='/lib/angular-cookies/angular-cookies.js')
script(type='text/javascript', src='/lib/angular-resource/angular-resource.js')
script(type='text/javascript', src='/lib/angular-isotope/dist/angular-isotope.js')

//Angular UI
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap-tpls.js')
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap.js')
script(type='text/javascript', src='/lib/angular-ui-utils/modules/route/route.js')

script(type="text/javascript" src="/js/isotope-fix.js")

script(type="text/javascript" src="/js/app.js")
script(type="text/javascript" src="/js/config.js")
script(type="text/javascript" src="/js/directives.js")
script(type="text/javascript" src="/js/init.js")

script(type="text/javascript" src="/js/services/events.js")
script(type="text/javascript" src="/js/services/photos.js")
script(type="text/javascript" src="/js/services/global.js")

script(type="text/javascript" src="/js/controllers/events.js")
script(type="text/javascript" src="/js/controllers/photos.js")
script(type="text/javascript" src="/js/controllers/header.js")

script(type='text/javascript', src='http://localhost:35729/livereload.js')	
// script(type='text/javascript', src='http://10.22.2.167:35729/livereload.js')	
